*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-four{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.sky{
    background-color: skyblue;
    width: 100%;
    height: 75%;
    z-index: -1;
    animation: sunlight forwards 10s ;
    position: absolute;
}
.grass{
    background-color: green;
    width: 100%;
    height: 25%;
    position: absolute;
    top: 75%;
    z-index: 1;
}
.sun{
    border-radius: 100%;
    padding: 0 2rem;
    background-color: orange;
    width: 200px;
    height: 200px;
    position: relative;
    top: 75%;
    left: 85%;
    z-index: -1;
    animation: rising 10s;
}

.cloud{
    position: relative;
    opacity: 1; 
    top: -20%;
    left: -20%;
    z-index: 1;
    animation: cloud forwards 10s ease;
}
.moon{
    position: relative;
    opacity: 1; 
    top: -45%;
    left: -20%;
    z-index: 1;
    animation: moon forwards 10s ease;
}
img{
    width: 300px;
    height: 300px;
}

@keyframes rising {
    0%{background-color: rgb(228, 94, 45);top: 75%; left: 85%;}
    25%{background-color: rgb(240, 216, 36);top: 5%; left: 85%;}
    50%{background-color: rgb(240, 216, 36); top: 5%; left: 5%;}
    75%{background-color: rgb(228, 94, 45);top: 70%; left: 5%;}
    100%{background-color: rgb(228, 94, 45);top: 75%; left: 5%;}

}
@keyframes sunlight {
    0%{background-color: rgb(3, 3, 3);}
    25%{background-color: skyblue;}
    50%{background-color: skyblue;}
    75%{background-color: rgb(213, 124, 69);}
    100%{background-color: rgb(14, 14, 14);}

}

@keyframes cloud {
    0%{top: -20%;left: -20%;}
    25%{top: -20%;left: -20%;}
    50%{top: -20%;left: 5%;}
    75%{opacity: .9; top: -20%;left: 20%;}
    100%{top: -20%;left: 60%;}
}

@keyframes moon {
    0%{top: -45%;left: -20%;}
    25%{top: -45%;left: -20%;}
    50%{top: -45%;left: -20%;}
    75%{ top: -45%;left: -20%;}
    100%{top: -45%;left: 10%;}
}